<tr>
  <td>
    <label class="noselect" for="et-line-{{id}}">{{label}}</label>
  </td>
  <td>
    {{#each severities as |severity| }}
      <input type="radio" id="et-line-{{../id}}" name="severity"
            value="{{../id}}-{{label}}" />
    {{/each}}
  </td>
</tr>
