<tr {{#if start}} class="start" {{/if}} >
  <td class="first">
    <label class="noselect" for="et-line-{{id}}">{{label}}</label>
  </td>
  <td>
    {{#each severities as |severity| }}
      <span class="checkbox-wrapper">
        <label for="et-line-{{label}}-{{../id}}">{{label}}</label>
        <input type="radio" id="et-line-{{label}}-{{../id}}" name="severity"
              value="{{../id}}-{{label}}" />
      </span>
    {{/each}}
  </td>
</tr>
