<div class="error-selection-modal" >
  <button data-remodal-action="close" class="remodal-close"></button>
  <h2>Error selection</h2>
  <div>You have selected this piece of text: <strong> {{selected_string}}</strong></div>

  <h3>Select the issue type</h3>
  <form id="error-selection-form" action="#" method="POST">
    <table>

      {{#each lqa_model.categories as |category| }}
        {{#if category.subcategories }}
          {{!-
          if it has subcategories then represent as heading, non selectable issue.
           -}}
           <tr class="start">
            <td class="first" colspan="2">{{ category.label }} </td>
           </tr>
          {{#each category.subcategories as |category| }}
            {{> review_improved/_error_selection_checkboxes category="category" }}
          {{/each}}
        {{else}}
          {{!- if it doesn't have subcategories, then make this issue selectable -}}
          {{> review_improved/_error_selection_checkboxes category="category" start=true }}
        {{/if}}
      {{/each}}
    </table>

    <div class="error-message-container">
      <h3>Type an optional comment here</h3>

      <textarea name="comment" placeholder="Type a comment..."></textarea>
      <input type="hidden" name="start_node" value="{{start_node}}" />
      <input type="hidden" name="start_offset" value="{{start_offset}}" />
      <input type="hidden" name="end_node" value="{{end_node}}" />
      <input type="hidden" name="end_offset" value="{{end_offset}}" />
      <input type="submit" id="error-selection-button" />

    </div>
  </form>

</div>
