<div data-issue-id="{{issue.id}}" class="issue-detail-modal" >
  <button data-remodal-action="close" class="remodal-close"></button>
  <h2>Issue detail</h2>

  <ul>
    <li>
      <strong>Target text:</strong>
      {{ issue.target_text }}
    </li>
    <li>
      <strong>Category:</strong>
      {{ issue.category }}
    </li>
    <li>
      <strong>Severity:</strong>
      {{ issue.severity }}
    </li>

    {{#if issue.comment}}
      <li>
        <strong>Reviewer comment:</strong>
        {{issue.comment}}
      </li>
    {{/if}}

  </ul>
  <hr />

  <div data-mount="issue-comments">
    {{> 'review_improved/_issue_comments' }}
  </div>


</div>
