<div class="translation-issues-area">
    {{#if issues}}
      <ul>
        {{#each issues as |issue| }}
          <li>
            <div class="small issue-container" data-issue-id="{{issue.id}}" >
              <span class="left">{{issue.severity}} - {{issue.category}}</span>
              <span class="small right">{{issue.formattedDate}}</span>
              <span class="clear" />

                {{#if issue.comment }}
                  <div class="issue-comment-container"><strong>Comment:</strong> {{issue.comment}} </div>
                {{/if}}
              <div class="issue-target-text-container"> {{issue.target_text}} </div>
              <div class="issue-footer">
                <span data-mount="number-of-replies"> </span>

                <div class="issue-footer-controls">
                  {{#if ../isReview }}
                    <a href="javascript:;" class="action-delete-issue danger">Delete</a>
                    |
                    <a href="javascript:;" class="action-view-issue">View</a>
                  {{else}}
                    <a href="javascript:;" class="action-view-issue">View</a>
                  {{/if}}
                </div>
              </div>

            </div>
          </li>
        {{/each}}
    {{else}}
      {{#if isReview }}
        No issues on this translation yet, select a portion of text to start.
      {{else}}
        No issues saved for this translation.
      {{/if}}
    {{/if}}
</div>
