<div class="translation-issues-area">
    {{#if issues}}
      <ul>
        {{#each issues as |issue| }}
          <li>
            <div class="issue-container" data-issue-id="{{issue.id}}" >
              <span class="">{{issue.category}}: {{issue.severity}}</span>
              <span class="small">{{issue.formattedDate}}</span>

              <div class="issue-comment-container"> {{issue.comment}} </div>
              <div class="issue-target-text-container"> {{issue.target_text}} </div>
              <div class="issue-footer">
                <span data-mount="number-of-replies"> 6 replies </span>

                <div class="issue-footer-controls">
                  <a href="javascript:;">View</a>
                  <a href="javascript:;" class="danger">Delete</a>
                </div>
              </div>


            </div>
          </li>
        {{/each}}
    {{else}}
      No issues registered for this segment
    {{/if}}
</div>
