<div class="textarea-container">

  <span class="loader"></span>
  <div class="{{editarea_classes_string}}"
       {{#if readonly}} contenteditable="false" {{/if}}
                        spellcheck="true"
                        lang="{{lang}}"
                        id="segment-{{segment.sid}}-editarea"
                        data-sid="{{segment.sid}}"
                        >{{#if segment.translation }}{{{ decoded_translation }}}{{/if}}</div>

  {{#if s2t_enabled}}
  <div class="micSpeech" title="Activate voice input" data-segment-id="{{originalId}}">
        <div class="micBg"></div>
        <div class="micBg2">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="20" height="20" viewBox="0 0 20 20">
            <g class="svgMic" transform="matrix(0.05555509,0,0,0.05555509,-3.1790007,-3.1109739)" fill="#737373">
              <path d="m 290.991,240.991 c 0,26.392 -21.602,47.999 -48.002,47.999 l -11.529,0 c -26.4,0 -48.002,-21.607 -48.002,-47.999 l 0,-136.989 c 0,-26.4 21.602,-48.004 48.002,-48.004 l 11.529,0 c 26.4,0 48.002,21.604 48.002,48.004 l 0,136.989 z" />
              <path d="m 342.381,209.85 -8.961,0 c -4.932,0 -8.961,4.034 -8.961,8.961 l 0,8.008 c 0,50.26 -37.109,91.001 -87.361,91.001 -50.26,0 -87.109,-40.741 -87.109,-91.001 l 0,-8.008 c 0,-4.927 -4.029,-8.961 -8.961,-8.961 l -8.961,0 c -4.924,0 -8.961,4.034 -8.961,8.961 l 0,8.008 c 0,58.862 40.229,107.625 96.07,116.362 l 0,36.966 -34.412,0 c -4.932,0 -8.961,4.039 -8.961,8.971 l 0,17.922 c 0,4.923 4.029,8.961 8.961,8.961 l 104.688,0 c 4.926,0 8.961,-4.038 8.961,-8.961 l 0,-17.922 c 0,-4.932 -4.035,-8.971 -8.961,-8.971 l -34.43,0 0,-36.966 c 55.889,-8.729 96.32,-57.5 96.32,-116.362 l 0,-8.008 c 0,-4.927 -4.039,-8.961 -8.961,-8.961 z" />
            </g>
          </svg>
        </div>
  </div>
  {{/if}}
  <div class="toolbar">
    {{{tagLockCustomizable}}}
    {{#if tagModesEnabled}}
    {{#if notEnableTagProjection}}
    <a href="#" class="tagModeToggle" alt="Display full/short tags" title="Display full/short tags">
      <span class="icon-chevron-left"></span>
      <span class="icon-tag-expand"></span>
      <span class="icon-chevron-right"></span>
    </a>
    {{/if}}
    {{/if}}
    <a href="#" class="autofillTag" alt="Copy missing tags from source to target" title="Copy missing tags from source to target"></a>



    <ul class="editToolbar">
      <li class="uppercase" title="Uppercase"></li>
      <li class="lowercase" title="Lowercase"></li>
      <li class="capitalize" title="Capitalized"></li>
    </ul>
  </div>

  <p class="save-warning" title="Segment modified but not saved"></p>

  

</div>
